<% content_for :title, "Editing nuevo" %>

<h1>Editing nuevo</h1>

<%= render "form", nuevo: @nuevo %>

<br>

<div>
  <%= link_to "Show this nuevo", @nuevo %> |
  <%= link_to "Back to nuevos", nuevos_path %>
</div>
